p{
    text-align: justify;
    font-size: x-large;
    font-style: italic;
    border: 10px solid ;
    text-decoration:  blue;
    border-color: aqua;
    width: 600px;
    height: 550px;
    overflow-y: scroll;
    border-style: double;
    border-radius:6%;
    border-top-color: rgb(252, 5, 5);
    border-left-color: rgb(236, 136, 136);
    border-bottom-color: rgb(127, 153, 255);
    border-right-color: aquamarine;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    background-image: url(image/3622644.jpg);
    background-position:  top;

}

img{

    border: 10px solid ;
    
    width: 400px;
    height: 500px;
    overflow: auto;

}


button{

    font-size: xx-large;
    width: 800px;
    height: 200px;
    border-radius: 100%;
    background-image: url(/image/olav-tvedt-6lSBynPRaAQ-unsplash.jpg);

}

input{
    background-color: aquamarine;
    height: 50px;
    width: 200px;
    border-radius: 100%;
    border-color: white;
    border-style: unset;

}